body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}




.header {
    background-color: #ffffff;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header img {
    height: 50px;
}


.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}


.main-content {
    background-image: url('forestbackground.png');
    background-size: 100%;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
    min-height: 400px;
}


.main-content h1 {
    font-size: 36px;
}


.main-content p {
    font-size: 18px;
}


.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 20px;
}

.footer {
    background-color: #12703b;;
    color: white;
    text-align: center;
    padding: 10px;
}






.treehouse-types h1 {
    font-size: 36px;
    margin-bottom: 30px;
}






.treehouse-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}


.treehouse-card h3 {
    font-size: 24px;
    color: white
    margin-bottom: 10px;
}


.treehouse-card p {
    font-size: 16px;
    line-height: 1.6;
    color: #ffffff;
}




.treehouse-types {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #12703b;
}
.header .logo {
    max-height: 50px;
    margin-right: 20px;
}




.main-content {
    padding: 20px;
    text-align: center;
}




.treehouse-card {
    border: 1px solid #12703b;;
    padding: 15px;
    background-color: #12703b;;
    border-radius: 8px;
}
.treehouse-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}




.footer {
    text-align: center;
    padding: 10px;
    background-color: #12703b;;
    margin-top: 20px;
}
